#DrawBoard > div{
  float: left;
  width: 25px;
  height: 25px;
  border:1px solid rgb(138, 138, 138);
}
br{
  clear: both;
}
.top{
  width: 25px;
  border-left:1px solid rgb(170, 170, 170);
  border-right:1px solid rgb(170, 170, 170);
  float: left;
  text-align: center;
}
.right{
  height: 25px;
  width: 25px;
  border-top:1px solid rgb(170, 170, 170);
  border-bottom:1px solid rgb(170, 170, 170);
  text-align: center;

}