body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
   
    text-align: center;
    color: slateblue;
    width: max-content;
    margin: 0 auto;
    
    border: 5px dotted aquamarine;
}
h1:hover{
  animation:kat 1s linear infinite;
}
@keyframes kat
{
  
  0% { transform: rotate(0deg) }
  25% { transform: rotate(30deg) }
  50% { transform: rotate(90deg) }
  75% { transform: rotate(180deg) } 
  100% { transform: rotate(360deg) } 
}

#btnShop{
  float: right;
  margin-right: 4%;
  color: slateblue;
  font-size: medium;
  border: 2px solid aquamarine;
  background-color: white;
  padding: 14px 40px;
  transition-duration: 0.4s;
  border-radius: 8px;
}
#btnShop:hover {
  background-color: aquamarine;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
}
#mainContainer{
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  border:2px solid black;
}
h3{
  text-align: center;
  margin-top: 34%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  color: slateblue;
}
#Shop{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  width: 20%;
  height: 60%;
  border: 2px solid slateblue;
  z-index: 1;
  display: none;
}
#buttonX{
  border:2px solid ;
  font-weight: bold;
  border-radius: 50%;
  height: 4%;
  width: 8%;
  text-align: center;
  float: right;
  color: black;
  background-color: slateblue;
  
}
#SercaSklep{
  clear: both;
  height: 40%;
  
}
#WskazowkaSklep{
  height: 40%;
  
}
